<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BotAPI" connectionString="YOUR_BOT_API"/>
    <add name="Competitions" connectionString="COMPETITIONS_FILE_PATH"/>
    <add name="Submissions" connectionString="SUBMISSIONS_FILE_PATH"/>
    <add name="Votes" connectionString="VOTES_FILE_PATH"/>
  </connectionStrings>
</configuration>